@model CityParkWeb.Entities.Negocio.Agente

@{
    ViewData["Title"] = "EditarAgente";
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-10">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar agente</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="checkout-form" method="POST" class="smart-form" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.AgenteId)
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Nombres</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                            </label>
                                        </section>


                                        <section class="col col-4">
                                            <label>Apellidos</label>
                                            <label class="input">
                                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label>Sector</label>
                                            <label class="input">
                                                @Html.DropDownList("SectorId", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SectorId, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>
