@model CityParkWeb.Entities.Negocio.Agente
@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>
<div id="content">
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <legend>Vendedor: @Model.Nombre</legend>
                <section id="widget-grid" class="">
                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                                <header draggable="true">
                                    <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                                    <h2>Recorrido del vendedor...</h2>
                                </header>
                                <div>
                                    <div class="jarviswidget-editbox">
                                    </div>
                                    <div class="widget-body no-padding">
                                        <fieldset>
                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div id="map_container"></div>
                                                    
                                                    <div id="map"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <footer>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </footer>
            </div>

        </div>
    </div>
</div>


@section pagespecific {

<script type="text/javascript">

    
</script>

<script>

    var arreglo = [];
        $(document).ready(function () {

            if ($("#nombre").val() != "") {
                $('#content').waitMe({
                    effect: 'roundBounce',
                    text: 'Procesando datos, por favor espere...',
                    bg: 'rgba(255, 255, 255, 0.7)',
                    color: '#ef4c0c'
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RecorridoDiario")',
                    dataType: 'json',
                    data: { id: $("#Id").val() },
                    success: function (data) {
                        if (data == false) {
                            alert("El vendedor no ha realizado ninguna visita el día de hoy...");
                            window.location.href = '@Url.Action("Index")';
                        }
                        arreglo = data;

                    }, complete: function (data) {



                        var directionsService = new google.maps.DirectionsService;
                        var directionsDisplay = new google.maps.DirectionsRenderer;
                        //waypoints to add
                        var waypts = [];

                         for (i = 0; i < arreglo.length; i++) {
                            var a = arreglo[i].lat;
                            var b = arreglo[i].lng;
                            var Cordenadas = { lat: a, lng: b };
                            //lat_lng.push(Cordenadas);
                            var way = { location: { lat: Cordenadas.lat, lng: Cordenadas.lng }, stopover: true };
                            waypts.push(way);
                        }
                         //waypts = [{ location: { lat: 41.94, lng: 1.56 }, stopover: true }, { location: { lat: 41.99, lng: 1.53 }, stopover: true }, { location: { lat: 41.98, lng: 1.52 }, stopover: true }];

                        //api map
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 6,
                            center: { lat: waypts[0].location.lat, lng: waypts[0].location.lng }
                        });
                        //add map
                        directionsDisplay.setMap(map);

                        // set the new
                        //new Array(waypts[0].location.lat,waypts[0].location.lng)
                        directionsService.route({
                            origin: { lat: waypts[0].location.lat, lng: waypts[0].location.lng },//db waypoint start
                            destination: { lat: waypts[waypts.length - 1].location.lat, lng: waypts[waypts.length - 1].location.lng },//db waypoint end
                            waypoints: waypts,
                            travelMode: google.maps.TravelMode.WALKING
                        }, function (response, status) {
                            if (status === google.maps.DirectionsStatus.OK) {
                                directionsDisplay.setDirections(response);
                            } else {
                                window.alert('Ha fallat la comunicació amb el mapa a causa de: ' + status);
                            }
                        });












                        //var path;
                        //var lat_lng = [];
                        //var map = new google.maps.Map(document.getElementById('map'), {
                        //    zoom: 15,
                        //    center: { lat: -0.174343345485331, lng: -78.4831896311008 }
                        //});

                        //for (i = 0; i < arreglo.length; i++) {
                        //    var a = arreglo[i].lat;
                        //    var b = arreglo[i].lng;
                        //    var Cordenadas = { lat: a, lng: b };
                        //    lat_lng.push(Cordenadas);
                        //}

                        //var requestArray = [], renderArray = [];
                        //var cur = 0;
                        //var service = new google.maps.DirectionsService();
                        //for (var i = 0; i < lat_lng.length - 1; i++) {
                        //    var request = {
                        //        origin: lat_lng[i],
                        //        destination: lat_lng[i + 1],
                        //        travelMode: 'DRIVING'
                        //    };
                        //    requestArray.push(request);
                        //}

                        ////So now we have all the requests created we will start with first request.

                        //if (requestArray.length > 0) {
                        //    service.route(requestArray[cur], directionResults);
                        //}

                        //function directionResults(result, status) {
                        //    if (status == google.maps.DirectionsStatus.OK) {
                        //        renderArray[cur] = new google.maps.DirectionsRenderer();
                        //        renderArray[cur].setMap(map);
                        //        renderArray[cur].setDirections(result);
                        //    }
                        //    cur++;
                        //    if (cur < requestArray.length) {
                        //        service.route(requestArray[cur], directionResults);
                        //    }
                        //}
























                        //var path;
                       
                        //var map = new google.maps.Map(document.getElementById('map'), {
                        //    zoom: 15,
                        //    center: { lat: -0.174343345485331, lng: -78.4831896311008 }
                        //});
                       
                        //var Cord = [];
                        //for (var i = 0; i < arreglo.length; i++) {
                        //    var a = arreglo[i].lat;
                        //    var b = arreglo[i].lng;
                        //    var Cordenadas = { lat: a, lng: b };
                        //    Cord.push(Cordenadas);
                           
                        //}
                        //var waypts = [];
                        //for (var i = 0; i < Cord.length; i++) {
                        //    var start = Cord[i];
                        //    var end = Cord[i+1];
                        //    var directionsDisplay = new google.maps.DirectionsRenderer;
                        //    var directionsService = new google.maps.DirectionsService;
                        //    directionsDisplay.setMap(map);
                        //    directionsService.route({
                        //        origin: start,
                        //        destination: end,
                                
                        //        travelMode: 'DRIVING'
                        //    }, function (response, status) {
                        //        if (status === 'OK') {
                        //            directionsDisplay.setDirections(response);
                        //        } else {
                        //            window.alert('Directions request failed due to ' + status);
                        //        }
                        //    });
                        //}
                            $("#content").waitMe("hide");

                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
            }
            else {
                alert("Tiene que introducir el nombre del sector")
                return false;
            }

        });


    //function initMap() {
        
    //    directionsDisplay.setPanel(document.getElementById('right-panel'));

    //    var control = document.getElementById('floating-panel');
    //    control.style.display = 'block';
    //    map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

    //    var onChangeHandler = function () {
    //        calculateAndDisplayRoute(directionsService, directionsDisplay);
    //    };
    //    document.getElementById('start').addEventListener('change', onChangeHandler);
    //    document.getElementById('end').addEventListener('change', onChangeHandler);
    //}

    function calculateAndDisplayRoute(directionsService, directionsDisplay,Cord) {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
    <script type="text/javascript">

        




    </script>

   

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing&callback=initMap"
              async defer></script>

}
