@model CityParkWeb.Entities.Negocio.Agente
@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>

<div id="content">
    <div class="alert alert-block alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Informaci&oacute;n</h4>
        <p class="text-justify">
            Usted puede observar la ruta del vendedor en el mapa as&iacute; como el detalle de cada segmento!
        </p>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Fecha)
    <div class="row">
        <div class="row col col-lg-6">
            <form method="post" novalidate="novalidate">


                <section class="col col-lg-5">
                    <label>@Html.DisplayNameFor(model => model.Fecha)</label>
                    <label class="input">
                        <input name="Fecha" value="@Model.Fecha.ToShortDateString()" readonly="readonly" style="color:black" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                    </label>
                </section>

                <section class="col col-lg-2">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <button type="submit" id="buscarRecorrido" class="btn btn-primary">
                        <i class="fa fa-search fa-lg"></i>
                    </button>
                </section>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h4 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-user"></i>
                Vendedor:
                <span>
                    @Model.Nombre
                </span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h4 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-dollar"></i>
                Total de Ventas:
                <span>
                    <label id="idventas"></label>
                </span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-calendar"></i>
                <span>
                    @{ var fecha = DateTime.Now.Date.ToLongDateString(); }
                    @fecha
                </span>
            </h4>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i>Ver informe</a>
        </div>
    </div>
    <legend></legend>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                    <header draggable="true">
                        <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                        <h2>Recorrido del vendedor...</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="map_container"></div>
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                    <header draggable="true">
                        <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                        <h2>Detalle...</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="directions-panel"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
   
</div>
@section pagespecific {
    <script type="text/javascript">
    </script>
    <script>
        var arreglo = [];
        var oculto = 0;
        $(document).ready(function () {


            $("#buscarRecorrido").click(function () {
                $('#content').waitMe({
                    effect: 'roundBounce',
                    text: 'Procesando datos, por favor espere...',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#118df9'
                });
            });

            if ($("#nombre").val() != "") {
                $('#content').waitMe({
                    effect: 'roundBounce',
                    text: 'Dibujando el mapa, por favor espere...',
                    bg: 'rgba(255, 255, 255, 0.7)',
                    color: '#118df9'
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RecorridoDiario")',
                    dataType: 'json',
                    data: { id: $("#Id").val(), fechaActual: $("#Fecha").val() },
                    success: function (data) {
                        if (data == false) {
                            alert("El vendedor no ha realizado ninguna visita en la fecha seleccionada...");
                            $("#content").waitMe("hide");

                            oculto = 0;
                           @*// window.location.href = '@Url.Action("Index")';*@
                        } else
                        {
                            arreglo = data;
                            oculto = 1;
                        }


                    }, complete: function (data) {

                        if (oculto == 0) {
                            $("#widget-grid").hide();

                        } else
                        {
                            $("#widget-grid").show();
                        }


                        var directionsService = new google.maps.DirectionsService;
                        var directionsDisplay = new google.maps.DirectionsRenderer;
                        //waypoints to add
                        var waypts = [];
                        var lat_lng = [];
                        var ventasTotales=0;
                        for (i = 0; i < arreglo.length; i++) {
                            var a = arreglo[i].lat;
                            var b = arreglo[i].lng;
                            var Cordenadas = { lat: a, lng: b };
                            ventasTotales = ventasTotales +  arreglo[i].Valor;
                            lat_lng.push(Cordenadas);
                        }

                        $('#idventas').text('$ '+ ventasTotales);
                        if (arreglo.length==1) {

                            //waypts = [{ location: { lat: 41.94, lng: 1.56 }, stopover: true }, { location: { lat: 41.99, lng: 1.53 }, stopover: true }, { location: { lat: 41.98, lng: 1.52 }, stopover: true }];

                            //api map
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 12,
                               
                            });
                            //add map
                            directionsDisplay.setMap(map);

                            // set the new
                            //new Array(waypts[0].location.lat,waypts[0].location.lng)
                            directionsService.route({
                                origin: { lat: lat_lng[0].lat, lng: lat_lng[0].lng },//db waypoint start
                                destination: { lat: lat_lng[0].lat, lng: lat_lng[0].lng },//db waypoint end
                                travelMode: google.maps.TravelMode.WALKING
                            }, function (response, status) {
                                if (status === google.maps.DirectionsStatus.OK) {
                                    directionsDisplay.setDirections(response);

                                    var step = 1;

                                    var route = response.routes[0];
                                    var summaryPanel = document.getElementById('directions-panel');
                                    summaryPanel.innerHTML = '';
                                    // For each route, display summary information.
                                    for (var i = 0; i < route.legs.length; i++) {
                                        var routeSegment = i + 1;

                                        var infowindow2 = new google.maps.InfoWindow();
                                        var localTime;
                                        localTime = moment(arreglo[i].Fecha).format('hh:mm:ss A');
                                        //localTime1 = moment(arreglo[i+1].Fecha).format('hh:mm:ss A');
                                        infowindow2.setContent(
                                            "<b>&nbsp&nbsp   Visita #: " + routeSegment + "</b><br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Cliente:</b> " + arreglo[i].NombreUsuario + "<br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Direcci&oacute;n:</b> " + arreglo[i].Direccion + "<br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Fecha:</b> " + localTime
                                        );
                                        infowindow2.setPosition(route.legs[i].start_location);
                                        infowindow2.open(map);

                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp  Segmento: ' + routeSegment + '</b><br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Cliente:</b> ' + arreglo[i].NombreUsuario + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Ruc:</b> ' + arreglo[i].Ruc + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Persona de contacto:</b> ' + arreglo[i].PersonaContacto + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tel&eacute;fono:</b> ' + arreglo[i].Telefono + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Direcci&oacute;n:</b> ' + arreglo[i].Direccion + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tipo:</b> ' + arreglo[i].Tipo + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Valor:</b> ' + arreglo[i].Valor + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Fecha:</b> ' + localTime + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Desde:</b> ' + route.legs[i].start_address + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Hacia:</b> ' + route.legs[i].end_address + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Distancia recorrida:</b> ' + route.legs[i].distance.text + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tiempo aproximado:</b> ' + route.legs[i].duration.text + '<br><br>';
                                        if (arreglo[i].Informe != null) {
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbspInforme</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Comercial:</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Pendiente:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.PendienteComercial + '</p></div><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Solución:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.SolucionComercial + '</p></div><br>';

                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Servicio:</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Pendiente:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.PendienteServicio + '</p></div><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Solución:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.SolucionServicio + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Nuevo negocio:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.NuevoNegocio + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Otros:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.Otros + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Calificación:</b><br>';

                                            if (arreglo[i].Informe.Calificacion == 0 || arreglo[i].Informe.Calificacion == null) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 1) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 2) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 3) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }
                                            if (arreglo[i].Informe.Calificacion == 4) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }
                                            if (arreglo[i].Informe.Calificacion == 5) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                            }
                                            summaryPanel.innerHTML += '<br>';
                                            summaryPanel.innerHTML += "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src=\"http://developmentds.eastus.cloudapp.azure.com:85/simed/Content/Firmas/1.png\" width=\"50px\" height=\"50px\"> <br>";
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Firma del cliente</b><br>';
                                        } 
                                        summaryPanel.innerHTML += ' <legend></legend>';




                                    }
                                } else {
                                    window.alert('Ha fallado la comunicació amb el mapa a causa de: ' + status);
                                }
                            });


                        } else {
                            for (i = 1; i < arreglo.length; i++) {
                                var a = arreglo[i].lat;
                                var b = arreglo[i].lng;
                                var Cordenadas1 = { lat: a, lng: b };
                                //lat_lng.push(Cordenadas);
                                var way = { location: { lat: Cordenadas1.lat, lng: Cordenadas1.lng }, stopover: true };
                                waypts.push(way);
                            }
                            //waypts = [{ location: { lat: 41.94, lng: 1.56 }, stopover: true }, { location: { lat: 41.99, lng: 1.53 }, stopover: true }, { location: { lat: 41.98, lng: 1.52 }, stopover: true }];

                            //api map
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 12,
                               
                            });
                            //add map
                            directionsDisplay.setMap(map);

                            // set the new
                            //new Array(waypts[0].location.lat,waypts[0].location.lng)
                            directionsService.route({
                                origin: { lat: lat_lng[0].lat, lng: lat_lng[0].lng },//db waypoint start
                                destination: { lat: lat_lng[lat_lng.length-1].lat, lng: lat_lng[lat_lng.length-1].lng },//db waypoint end
                                waypoints: waypts,

                                travelMode: google.maps.TravelMode.WALKING
                            }, function (response, status) {
                                if (status === google.maps.DirectionsStatus.OK) {

                                    directionsDisplay.setDirections(response);
                           
                                    var step = 1;

                                    var route = response.routes[0];
                                    var summaryPanel = document.getElementById('directions-panel');
                                    summaryPanel.innerHTML = '';
                                    // For each route, display summary information.
                                    for (var i = 0; i < route.legs.length; i++) {
                                        var routeSegment = i + 1;

                                        var infowindow2 = new google.maps.InfoWindow();
                                        var localTime;
                                        localTime = moment(arreglo[i].Fecha).format('hh:mm:ss A');
                                        //localTime1 = moment(arreglo[i+1].Fecha).format('hh:mm:ss A');
                                        infowindow2.setContent(
                                            "<b>&nbsp&nbsp   Visita #: " + routeSegment + "</b><br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Cliente:</b> " + arreglo[i].NombreUsuario + "<br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Direcci&oacute;n:</b> " + arreglo[i].Direccion + "<br>" +
                                            "<b>&nbsp&nbsp&nbsp&nbsp  Fecha:</b> " + localTime
                                        );
                                        infowindow2.setPosition(route.legs[i].start_location);
                                        infowindow2.open(map);

                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp  Visita: ' + routeSegment + '</b><br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Cliente:</b> ' + arreglo[i].NombreUsuario + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Ruc:</b> ' + arreglo[i].Ruc + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Persona de contacto:</b> ' + arreglo[i].PersonaContacto + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tel&eacute;fono:</b> ' + arreglo[i].Telefono + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Direcci&oacute;n:</b> ' + arreglo[i].Direccion + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tipo:</b> ' + arreglo[i].Tipo + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Valor:</b>$ ' + arreglo[i].Valor + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Fecha:</b> ' + localTime + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Desde:</b> ' + route.legs[i].start_address + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Hacia:</b> ' + route.legs[i].end_address + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Distancia recorrida:</b> ' + route.legs[i].distance.text + '<br>';
                                        summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Tiempo aproximado:</b> ' + route.legs[i].duration.text + '<br><br>';

                                        if (arreglo[i].Informe != null) {
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbspInforme</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Comercial:</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Pendiente:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.PendienteComercial + '</p></div><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Solución:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.SolucionComercial + '</p></div><br>';

                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Servicio:</b><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Pendiente:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"><p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.PendienteServicio + '</p></div><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Solución:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.SolucionServicio + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Nuevo negocio:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.NuevoNegocio + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Otros:</b><br>';
                                            summaryPanel.innerHTML += '<div class=" col col-lg-12"> <p class="text-justify">&nbsp&nbsp&nbsp&nbsp&nbsp' + arreglo[i].Informe.Otros + '</p></div><br><br>';
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Calificación:</b><br>';

                                            if (arreglo[i].Informe.Calificacion == 0 || arreglo[i].Informe.Calificacion == null) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 1) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 2) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }

                                            if (arreglo[i].Informe.Calificacion == 3) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }
                                            if (arreglo[i].Informe.Calificacion == 4) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_outline.png\" width=\"50px\" height=\"50px\">";

                                            }
                                            if (arreglo[i].Informe.Calificacion == 5) {
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                                summaryPanel.innerHTML += "<img src=\"../../Content/img/estrella/star_selected.png\" width=\"50px\" height=\"50px\">";
                                            }
                                            summaryPanel.innerHTML += '<br>';
                                            summaryPanel.innerHTML += "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src=\"http://developmentds.eastus.cloudapp.azure.com:85/simed/Content/Firmas/1.png\" width=\"50px\" height=\"50px\"> <br>";
                                            summaryPanel.innerHTML += '<b>&nbsp&nbsp&nbsp&nbsp  Firma del cliente</b><br>';
                                        } 
                                        summaryPanel.innerHTML += ' <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>';
                                        summaryPanel.innerHTML += ' <legend></legend>';


                                    }
                                } else {
                                    window.alert('Ha fallado la comunicació amb el mapa a causa de: ' + status);
                                }
                                        });
                        }


                            $("#content").waitMe("hide");

                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
            }
            else {
                alert("Tiene que introducir el nombre del sector")
                return false;
            }

        });


    //function initMap() {

    //    directionsDisplay.setPanel(document.getElementById('right-panel'));

    //    var control = document.getElementById('floating-panel');
    //    control.style.display = 'block';
    //    map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

    //    var onChangeHandler = function () {
    //        calculateAndDisplayRoute(directionsService, directionsDisplay);
    //    };
    //    document.getElementById('start').addEventListener('change', onChangeHandler);
    //    document.getElementById('end').addEventListener('change', onChangeHandler);
    //}

    function calculateAndDisplayRoute(directionsService, directionsDisplay,Cord) {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
    </script>
    <script type="text/javascript">






    </script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing"
              async defer></script>

}
