@model CityParkWeb.ModelosDatos.CajeroCoopPolicia

@{

    ViewBag.Title = "Home";

}



<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script src="~/Scripts/jquery-3.2.1.js"></script>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery-1.11.1.js"></script>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<script src="~/Scripts/jquery-2.1.1.js"></script>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />

<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>

<script src="~/Scripts/Site.js"></script>





<style>

    #map_container {
        position: relative;
    }



    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>

<div id="content">

    <div class="row">

        <div class="col-sm-12">

            <div class="well">

                <section id="widget-grid" class="">

                    <div class="row">

                        <article class="col-sm-12 col-md-12 col-lg-12">

                            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-close="false" data-widget-custombutton="false">

                                <header draggable="true">

                                    <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>

                                    <h2>Click en el mapa para agregar la ubicaci&oacute;n del cajero</h2>

                                </header>

                                <div>

                                    <div class="jarviswidget-editbox">

                                    </div>

                                    <div class="widget-body no-padding">

                                        <fieldset>

                                            <div class="row">

                                                <div class="col-sm-12">

                                                    <div id="map_container"></div>

                                                    <div id="map"></div>

                                                </div>

                                            </div>

                                        </fieldset>

                                    </div>

                                </div>

                            </div>

                            <section id="widget-grid1" class="">

                                <div class="row">

                                    <article class="col-sm-12 col-md-12 col-lg-12">

                                        <form id="checkout-form" method="post" class="smart-form" novalidate="novalidate">

                                            <div class="row">

                                                <section class="col col-lg-6">

                                                    <label>@Html.DisplayNameFor(model => model.Codigo)</label>

                                                    <label class="input">

                                                        <i class="icon-prepend fa fa-map-marker"></i>

                                                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", id = "nombre", @maxlength = 20 } })

                                                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })

                                                    </label>

                                                </section>
                                                <section class="col col-lg-6">

                                                    <label>Modelo</label>

                                                    <label class="input">

                                                        <i class="icon-prepend fa fa-map-marker"></i>

                                                        @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control", id = "modelo", @maxlength = 8 } })

                                                        @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

                                                    </label>

                                                </section>

                                            </div>

                                        </form>

                                    </article>

                                </div>

                            </section>

                        </article>

                    </div>

                </section>



                <footer>

                    <button type="submit" id="Create" class="btn btn-primary">

                        Insertar
                    </button>

                    @Html.ActionLink("Cancelar", "IndexCajeros", null, new { @class = "btn btn-default" })

                </footer>

            </div>



        </div>

    </div>

</div>





@section pagespecific {

    <script>
        var opcion = 0;
        var MyMarker=null;
        function geoLocation(map) {
            var infoWindow = new google.maps.InfoWindow({ map: map });
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Posici&oacute;n actual');
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: -0.173689784, lng: -78.49555141 },
            });
           

            map.addListener('click', function (e) {
                placeMarkerAndPanTo(e.latLng, map);
            });

        }

        function placeMarkerAndPanTo(latLng, map) {

            var iconCPN =
                {
                    //con el icono
                    url: "../Content/images/Baja.png", // url
                    size: new google.maps.Size(48, 48),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor
                };

           
            if (MyMarker != null) {
                MyMarker.setMap(null);
            }

            var markerNuevo = new google.maps.Marker({
                position: latLng,
                icon: iconCPN,
                map: map,
            });

            MyMarker = markerNuevo;

            map.panTo(latLng);

        }



        var nombre;
        var modelo;

        var cordenadas;

        $(document).ready(function () {


            $("#Create").click(function () {

                if (MyMarker == null) {
                    alert("Tiene que introducir la ubicación del cajero ");
                    return false;
                } else {


                    var latitud = MyMarker.position.lat();
                    var longitud = MyMarker.position.lng();
                    var flatitud;
                    var flongitud;

                    if ($("#nombre").val() != "" && $("#modelo").val() != "" && latitud != "" && longitud != "") {

                        $.ajax({

                            type: 'POST',

                            url: href = '@Url.Action("Create")',

                            dataType: 'json',

                            data: { flatitud: latitud, flongitud: longitud, nombreCajero: $("#nombre").val(), modelocajero: $("#modelo").val() },

                            success: function (data) {

                                if (data == true) {

                                    location.href = '@Url.Action("IndexCajeros")';

                                }

                            }, complete: function (data) {

                                $("#content").waitMe("hide");

                            },

                            error: function (ex) {

                                alert('Failed to retrieve data.' + ex);

                            }

                        });

                    } else {

                        alert("Tiene que introducir el nombre del cajero ")

                        return false;

                    }
                }

            })

        })

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing&callback=initMap"
            async defer></script>

}