@model CityParkWeb.ModelosDatos.CajeroCoopPolicia

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.Latitud)
    @Html.HiddenFor(model => model.Longitud)
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <script src="~/Scripts/jquery-3.2.1.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery-1.11.1.js"></script>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />

    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />

    <script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>

    <script src="~/Scripts/Site.js"></script>





    <style>

        #map_container {
            position: relative;
        }



        #map {
            height: 0;
            overflow: hidden;
            padding-bottom: 30.25%;
            padding-top: 10px;
            position: relative;
        }
    </style>

    <div id="content">
        <p></p>
        @Html.ActionLink("Volver", "IndexCajeros", null, new { @class = "btn btn-default" })
        <p></p>
        <div class="row">

            <div class="col-sm-12">

                <div class="well">

                    <section id="widget-grid" class="">

                        <div class="row">

                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-close="false" data-widget-custombutton="false">

                                    <header draggable="true">

                                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>

                                        <h2>Ubicaci&oacute;n del Cajero en el mapa</h2>

                                    </header>

                                    <div>

                                        <div class="jarviswidget-editbox">

                                        </div>

                                        <div class="widget-body no-padding">

                                            <fieldset>

                                                <div class="row">

                                                    <div class="col-sm-12">

                                                        <div id="map_container"></div>

                                                        <div id="map"></div>

                                                    </div>

                                                </div>

                                            </fieldset>

                                        </div>

                                    </div>

                                </div>

                            </article>

                        </div>

                    </section>

                    <section id="widget-grid1" class="">

                        <div class="row">

                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <form id="checkout-form" method="post" class="smart-form" novalidate="novalidate">

                                    <div class="row">

                                        <section class="col col-lg-6">

                                            <label>@Html.DisplayNameFor(model=>model.Codigo):</label>

                                            <label class="input">
                                                @Html.DisplayFor(model => model.Codigo)
                                            </label>

                                        </section>
                                        <section class="col col-lg-6">

                                            <label>Modelo:</label>

                                            <label class="input">

                                                @Html.DisplayFor(model => model.Modelo)

                                            </label>

                                        </section>

                                    </div>

                                </form>
                                <footer></footer>
                            </article>

                        </div>

                    </section>



                </div>



            </div>

        </div>

    </div>





    @section pagespecific {





        <script>

        var opcion = 0;
        var MyMarker;
        function geoLocation(map) {
            var infoWindow = new google.maps.InfoWindow({ map: map });
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Posici&oacute;n actual');
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            }



        function initMap() {

            var icon1 =
                {
                    //con el icono
                    url: "../../Content/images/Baja.png", // url
                    size: new google.maps.Size(96, 96),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor
                };

            var lat1 = $("#Latitud").val().replace(",",".");
            var log = $("#Longitud").val().replace(",", ".");
            var myLatLng = { lat: parseFloat(lat1), lng: parseFloat(log) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
                
            });
            //geoLocation(map);

                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        icon:icon1,
                        map: map,
            });

                    marker.addListener('click', function () {

                        infowindow.open(map, marker);

                    });


                    //map.addListener('click',function (e) {
                    //    placeMarkerAndPanTo(marker,map);
                    // });

        }

        function placeMarkerAndPanTo(latLng, map) {


            if (opcion == 1) {
                marker.setPosition(latLng);

            } else {

                opcion = 1;
                var icon1 =
                    {
                        //con el icono
                        url: "../Content/images/Baja.png", // url
                        size: new google.maps.Size(96, 96),
                        scaledSize: new google.maps.Size(96, 96), // scaled size
                        origin: new google.maps.Point(0, 0), // origin
                        anchor: new google.maps.Point(48, 48) // anchor
                    };
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: icon1,
                });


                MyMarker = marker;

                map.panTo(latLng);
            }
        }



        var nombre;
        var modelo;

        var cordenadas;

        $(document).ready(function () {


            $("#Create").click(function () {

                //$('#content').waitMe({

                //    effect: 'roundBounce',

                //    text:'Procesando datos, por favor espere...',

                //    bg: 'rgba(255, 255, 255, 0.7)',

                //    color: '#ef4c0c'

                //});

                //var a = $("#nombre").val();
                //var b = $("#modelo").val();

                var latitud = MyMarker.position.lat();
                var longitud = MyMarker.position.lng();
                var flatitud;
                var flongitud;

                if ($("#nombre").val() != "" && $("#modelo").val() != "" && latitud != "" && longitud != "") {

                    $.ajax({

                        type: 'POST',

                        url: href = '@Url.Action("Create")',

                        dataType: 'json',

                        data: { flatitud: latitud, flongitud: longitud,nombreCajero: $("#nombre").val(), modelocajero: $("#modelo").val() },

                        success: function (data) {

                            if (data == true) {

                                location.href = '@Url.Action("Index")';

                            }

                        }, complete: function (data) {

                            $("#content").waitMe("hide");

                        },

                        error: function (ex) {

                            alert('Failed to retrieve data.' + ex);

                        }

                    });

                } else {

                    alert("Tiene que introducir el nombre del cajero ")

                    return false;

                }

            })

        })

        </script>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing&callback=initMap"
                async defer></script>

    }
}
