@model CityParkWeb.ModelosDatos.CajeroCoopPolicia

@{
    /**/

    ViewBag.Title = "Edit";
}


@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Clasificacion)
@Html.HiddenFor(model => model.Latitud)
@Html.HiddenFor(model => model.Longitud)



<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script src="~/Scripts/jquery-3.2.1.js"></script>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery-1.11.1.js"></script>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<script src="~/Scripts/jquery-2.1.1.js"></script>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />

<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>

<script src="~/Scripts/Site.js"></script>


<style>

    #map_container {
        position: relative;
    }



    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>

<div id="content">

    <div class="row">

        <div class="col-sm-12">

            <div class="well">
                <section id="widget-grid" class="">

                    <div class="row">

                        <article class="col-sm-12 col-md-12 col-lg-12">

                            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-close="false" data-widget-custombutton="false">

                                <header draggable="true">

                                    <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                    <h2>Click sobre el cajero para ver su descripci&oacute;n, click sobre el mapa para editar la ubicaci&oacute;n.</h2><br />

                                </header>

                                <div>

                                    <div class="jarviswidget-editbox">

                                    </div>

                                    <div class="widget-body no-padding">

                                        <fieldset>

                                            <div class="row">

                                                <div class="col-sm-12">

                                                    <div id="map_container"></div>

                                                    <div id="map"></div>

                                                </div>

                                            </div>

                                        </fieldset>

                                    </div>

                                </div>

                            </div>

                        </article>

                    </div>

                </section>

                <section id="widget-grid1" class="">

                    <div class="row">

                        <article class="col-sm-12 col-md-12 col-lg-12">

                            <form id="checkout-form" class="smart-form" novalidate="novalidate">

                                <div class="row">

                                    <section class="col col-lg-6">

                                        <label>@Html.DisplayNameFor(model => model.Codigo)</label>

                                        <label class="input">


                                            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", id = "nombre", @maxlength = 20 } })

                                            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })

                                        </label>

                                    </section>
                                    <section class="col col-lg-6">

                                        <label>Modelo</label>

                                        <label class="input">


                                            @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control", id = "modelo", @maxlength = 8 } })

                                            @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

                                        </label>

                                    </section>

                                </div>


                            </form>

                        </article>

                    </div>

                </section>
                <footer>
                    <button id="EditarCajero" class="btn btn-primary">

                        Actualizar
                    </button>

                    @Html.ActionLink("Cancelar", "IndexCajeros", null, new { @class = "btn btn-default" })


                </footer>


            </div>



        </div>

    </div>

</div>





@section pagespecific {


    <script>

        var opcion = 1;
        var MyMarker = null;
        var marker;
        var iconCPN;
        function initMap() {
             iconCPN =
                {
                    //con el icono

                    size: new google.maps.Size(96, 96),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor
                };


            var lat1 = $("#Latitud").val().replace(",",".");
            var log = $("#Longitud").val().replace(",", ".");
            var myLatLng = { lat: parseFloat(lat1), lng: parseFloat(log) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });
            //geoLocation(map);
            var ClasificacionCPN = $("#Clasificacion").val();
            switch (ClasificacionCPN) {
                case "B":
                    iconCPN.url = "../../Content/images/Baja.png"
                    break
                case "M":
                    iconCPN.url = "../../Content/images/Media.png"
                    break
                case "A":
                    iconCPN.url = "../../Content/images/Alta.png"
                    break


                default:
            }

                     marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon:iconCPN,
                    });
                    var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h4 id="firstHeading" class="firstHeading"><b>Cajero</b></h4>' +
                        '<img src="../../Content/images/cajero.jpg" />' + '<legend></legend>' +
                        '<div id="bodyContent">' +
                        '<p><b>C&oacute;digo:&nbsp&nbsp</b>' + "@Model.Codigo" + '.</p>' +
                        '<p><b>Modelo:</b>' + "@Model.Modelo" + '.</p>' +

                        '</div>' +
                        '</div>';
                    var infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, "click", (function (marker, contentString, infowindow) {
                        // !!! PROBLEM HERE
                        return function (evt) {

                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        }
                    })(marker, contentString, infowindow));

                    map.addListener('click', function (e) {
                        placeMarkerAndPanTo(e.latLng, map);
                    });

        }

        function placeMarkerAndPanTo(latLng, map) {

            marker.setMap(null);
            if (MyMarker != null) {
                MyMarker.setMap(null);
            }
            
                    var markerNuevo = new google.maps.Marker({
                        position: latLng,
                        icon:iconCPN,
                        map: map,
                    });
                    
                    MyMarker = markerNuevo;

                    map.panTo(latLng);

                }

        var nombre;
        var modelo;

        var cordenadas;








    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing&callback=initMap"
            async defer></script>

    <script type="text/javascript">

        $("#EditarCajero").click(function () {



                if (MyMarker == null) {

                    latitud = $("#Latitud").val();
                    longitud = $("#Longitud").val();

            }
                else {
                    var latitud = MyMarker.position.lat();
                    var longitud = MyMarker.position.lng();
                }
                    if ($("#nombre").val() != "" && $("#modelo").val()) {

                        $.ajax({

                            type: 'POST',

                            url: href = '@Url.Action("Edit")',

                            dataType: 'json',

                            data: { clasificacion: $("#Clasificacion").val(), flatitud: latitud, flongitud: longitud, nombreCajero: $("#nombre").val(), modelocajero: $("#modelo").val() },

                            success: function (data) {

                                if (data == true) {

                                    location.href = '@Url.Action("IndexCajeros")';

                                }

                            }, complete: function (data) {

                                $("#content").waitMe("hide");

                            },

                            error: function (ex) {

                                alert('Failed to retrieve data.' + ex);

                            }

                        });

                    } else {

                        alert("Tiene que introducir el nombre del cajero ")

                        return false;

                    }


            })
    </script>

}
