@model CityParkWeb.ModelosDatos.CajeroCoopPolicia

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
    <script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <style>
        #map_container {
            position: relative;
        }

        #map {
            height: 0;
            overflow: hidden;
            padding-bottom: 40.25%;
            padding-top: 30px;
            position: relative;
        }

        .pac-container {
            z-index: 99999;
        }
    </style>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-6 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                        <header draggable="true">
                            <span class="widget-icon"> <i class="fa fa-map-marker"></i></span>
                            <h2>Ubicacion Actual del Nuevo Cajero</h2>

                        </header>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">


                                    <div id="map_container"></div>
                                    <div id="map"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </section>

        <langen>Nuevo cajero</langen>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.Canton, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Canton, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Canton, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Sector, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sector, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sector, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Ubicación, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ubicación, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicación, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.TrxPropia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrxPropia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrxPropia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.TrxBanred, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrxBanred, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrxBanred, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <footer>
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index")

        </footer>

    </div>
    <script>
        var map;
        var empresa;

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBkXjci-D1Gog6Ez_BkpJcdtEnO1XsBA&callback=initMap"
              async defer></script>
}



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
