@model IEnumerable<CityParkWeb.ModelosDatos.CajeroCoopPolicia>


@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
    <script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <style>
        #map_container {
            position: relative;
        }

        #map {
            height: 0;
            overflow: hidden;
            padding-bottom: 40.25%;
            padding-top: 30px;
            position: relative;
        }

        .pac-container {
            z-index: 99999;
        }
    </style>

    <div id="content">
        <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Informaci&oacute;n</h4>
            <p>
                Usted puede obserbar los vendedores en tiempo real as&iacute; como la ubicaci&oacute;n de los clientes !!!
            </p>
            <p>
                * Click sobre <b>VENDEDORES</b> y <b>CLIENTES</b> para vizualizar su informaci&oacute;n !!!
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
                                <h4 class="page-title txt-color-blueDark">
                                    <i class="fa-fw fa fa-users"></i>
                                    Vendedores en tiempo real !!!
                                    <span>

                                    </span>
                                </h4>
                            </div>
                            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                <h4 class="page-title txt-color-black">
                                    <button type="button" data-toggle="modal" data-target="#ModalMap" class="btn btn-default">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </button>
                                    <span>
                                        <a href="" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-refresh"></i></a>
                                    </span>

                                </h4>
                            </div>

                        </div>
                    </legend>
                    <div class="modal fade" id="ModalMap" tabindex="-1" role="dialog">
                        @* @{ Html.RenderPartial("Create", Model);}*@
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <legend>
                                                <label class="col-sm-3 control-label">Nuevo Cajero:</label>
                                                <div class="col-sm-8"></div>
                                                <div class="col-sm-1">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </legend>
                                            <div class">&nbsp;</div>

                                            <div class="m-t-small">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="ModalMap-lat" placeholder="Nombre" />
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" asp-for="Direccion" class="form-control" id="ModalMap-lon" placeholder="Dirección" />
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="m-t-small">
                                                <div class="col-sm-4">
                                                    <input type="text" asp-for="Latitud" class="form-control" id="ModalMap-lat" placeholder="Latitud" disabled="disabled" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="ModalMap-lon" placeholder="Longitud" disabled="disabled" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="submit" value="Create" class="btn btn-default" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section id="widget-grid" class="">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                                    <header draggable="true">
                                        <span class="widget-icon"> <i class="fa fa-map-marker"></i></span>
                                        <h2>Click en el vendedor para ver la descripci&oacute;n</h2>

                                    </header>
                                    <div>
                                        <div class="jarviswidget-editbox">
                                        </div>
                                        <div class="widget-body no-padding">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-sm-12">


                                                        <div id="map_container"></div>
                                                        <div id="map"></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                    <footer></footer>
                </div>

            </div>
        </div>
    </div>




    <script>
        var map;
        var empresa;

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBkXjci-D1Gog6Ez_BkpJcdtEnO1XsBA&callback=initMap"
              async defer></script>
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicación)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrxPropia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrxBanred)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicación)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrxPropia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrxBanred)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
